<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>telhaEternit</title>
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../style/style.css">
</head>
    
<body class="fundo-pg">
    <div>
        <header class="centralizar fundo">
            <h1><img src="../images/favicon.ico"width="30px"height="25px">&emsp;Telha de eternit</h1>
            <p class="tamFonte">Venha adquirir a sua Agora.</p>
        </header> 
    </div>
    

        <div class="flex-container fundo-pg">
            <div class="coluna1 coluna">
    
                <img id="img"src="../images/srcTelhaEternit/telha1.jpg"alt="" width="50%"height="60%">
     
            </div>


            
            <div class="coluna1 coluna">
                <img src="../images/srcTelhaEternit/telha2.jpg" alt="Dois golfinhos." width="80%" height="210">
                <p>Valor : <R1>62,00 R$</R1></p>
                <label for="lname">Unidade</label><br>
                <input id="tamInput"type="number"value="1"name="lname"><br>
                 <input class="botao-efeito1 botao-efeito2 tam-botao"type="button" value="Comprar"><br>
            </div>
            
            
            <div class="coluna1 coluna">
                <img src="../images/srcTelhaEternit/telha3.jpg" alt="Dois golfinhos." width="80%" height="210">
                <p>Valor : <R1>70,00 R$</R1></p>
                <label for="lname">Unidade</label><br>
                <input id="tamInput"type="number"value="1"name="lname"><br>
                <input class="botao-efeito1 botao-efeito2 tam-botao"type="button" value="Comprar"><br>
            </div>
            <div class="coluna1 coluna">

                <img src="../images/srcTelhaEternit/telha4.jpg" alt="Dois golfinhos." width="80%" height="210">
                <p>Valor : <R1>58,00R$</R1></p>
                <label for="lname">Unidade</label><br>
                <input id="tamInput"type="number"value="1"name="lname"><br>
                <input class="botao-efeito1 botao-efeito2 tam-botao"type="button" value="Comprar"><br>

            </div>
      
        </div>
        <footer class="rodape">
            <div class="flex-conteiner">
                <div class="coluna">
                    <p>Telefone : (79)99802-5079 </p>
                </div>
                
                <div class="coluna">
                    <p>Email : <a href="mailto:zezinho@gmail.com">zezinho@gmail.com</a></p> 
                </div>
            </div>
           <p><a href="./formulario.html">Enviar Comentário</a></p>
        </footer>

</body>
</html>